Config { 

   -- appearance
     font =         "xft:Hack-Bold:size=11:Bold:antialias=true,Hack Nerd Font:size=13:Bold:antialias=true"
   , bgColor =      "#282a36"
   , fgColor =      "#f8f8f2"
   , alpha  =       255
   , position =     Static { xpos = 0 , ypos = 0, width = 1920, height = 22}
   , border =       NoBorder
   , borderColor =  "#373b41"

   -- layout
   , sepChar =  "%"   -- delineator between plugin names and straight text
   , alignSep = "}{"  -- separator between left-right alignment
   , template = "" 

   -- general behavior
   , lowerOnStart =     True    -- send to bottom of window stack on start
   , hideOnStart =      False   -- start with window unmapped (hidden)
   , allDesktops =      True    -- show on all desktops
   , overrideRedirect = False    -- set the Override Redirect flag (Xlib)
   , pickBroadest =     True   -- choose widest display (multi-monitor)
   , persistent =       True    -- enable/disable hiding (True = disabled),
   -- , iconRoot = ".config/xmobar/xpm-status-icons/icons/"

   -- plugins
   , commands = [
       --cpu 
       Run Com "/home/arthurmelton/.config/xmobar/scripts/cpu" [] "cpu" 50,

       --memory
       Run Com "/home/arthurmelton/.config/xmobar/scripts/memory" [] "memory" 50,

       --internet
       Run Com "/home/arthurmelton/.config/xmobar/scripts/internet" [] "internet" 50,

       --backlight
       --Run Com "/home/arthurmelton/.config/xmobar/scripts/backlight" [] "backlight" 50,

       --volume
       --Run Com "/home/arthurmelton/.config/xmobar/scripts/volume" [] "volume" 50,
       
       --battery
       --Run Com "/home/arthurmelton/.config/xmobar/scripts/battery" [] "battery" 50,

       --clock
       Run Com "/home/arthurmelton/.config/xmobar/scripts/clock" [] "clock" 10,

       --stdinreader
       Run UnsafeStdinReader
        	]
   }

