Config { 

   -- appearance
   --  font =       "xft:JetBrainsMono-Bold:size=11:Bold:antialias=true,JetBrainsMono-Regular:size=13:Bold:antialias=true"
     font = 	    "xft:Font Awesome 5 Free Solid:style=Solid:size=13:Bold:antialias=true, JetBrainsMono-Bold:size=11:Bold:antialias=true"
   --  font = 	    "xft:Font Awesome 5 Free Solid:style=Solid:size=11:Bold:antialias=true"
   , bgColor =      "#282a36"
   , fgColor =      "#f8f8f2"
   , alpha  =       200
   , position =     Static { xpos = 1932 , ypos = 8, width = 1904, height = 22}
   , border =       NoBorder
   , borderColor =  "#373b41"

   -- layout
   , sepChar =  "%"   -- delineator between plugin names and straight text
   , alignSep = "}{"  -- separator between left-right alignment
   , template = "<action='/home/arthurmelton/.config/xmenu/xmenu.sh'> <fc=#57c7ff>  </fc></action> | <fc=#282a36> %UnsafeStdinReader%  </fc>}{ | <fc=#bf2f37>%temp%</fc> | <action='/home/arthurmelton/.config/xmobar/wego.sh'><fc=#ff6ac1>%cpu%</fc></action> | <fc=#f1fa8c>%memory%</fc> | <fc=#57c7ff>%internet%</fc> | <action='/home/arthurmelton/.config/xmobar/cal.sh'><fc=#57c7ff>%clock% </fc></action>" 

   -- general behavior
   , lowerOnStart =     True    -- send to bottom of window stack on start
   , hideOnStart =      False   -- start with window unmapped (hidden)
   , allDesktops =      True    -- show on all desktops
   , overrideRedirect = True    -- set the Override Redirect flag (Xlib)
   , pickBroadest =     True   -- choose widest display (multi-monitor)
   , persistent =       True    -- enable/disable hiding (True = disabled),
   -- , iconRoot = ".config/xmobar/xpm-status-icons/icons/"

   -- plugins
   , commands = [
       --temp out 
       Run Com "/home/arthurmelton/.config/xmobar/scripts/tempOut" [] "cpu" 600,
       
       --temp
       Run Com "/home/arthurmelton/.config/xmobar/scripts/temp" [] "temp" 50,

       --memory
       Run Com "/home/arthurmelton/.config/xmobar/scripts/memory" [] "memory" 50,

       --internet
       Run Com "/home/arthurmelton/.config/xmobar/scripts/internet" [] "internet" 50,

       --backlight
       --Run Com "/home/arthurmelton/.config/xmobar/scripts/backlight" [] "backlight" 50,

       --volume
       --Run Com "/home/arthurmelton/.config/xmobar/scripts/volume" [] "volume" 50,
       
       --battery
       --Run Com "/home/arthurmelton/.config/xmobar/scripts/battery" [] "battery" 50,

       --clock
       Run Com "/home/arthurmelton/.config/xmobar/scripts/clock" [] "clock" 10,

       --Net
       Run Network "eth0" ["-t", "<rx> : <rt>", "-H","200", "-L","10"] 10,

       --stdinreader
       Run UnsafeStdinReader
        	]
   }

